@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    background: #1b1717;
    margin-left: 0;
    margin-right: 0;
}


.grid-aboutus{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #eeebdd;
    
    
    
    

}
.left-aboutus{
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    flex: 1;
    justify-content: center;
    display: flex;
    

}
.right-aboutus{
    animation: appear1 linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    width: 500px;
    font-family: inter;
    place-items: center;
    text-align: center;
    padding-bottom: 300px;
    flex-direction: row;
    margin-right: 150px;
    min-width: 100px;
    margin-top: 200px;
    
    
    
    

}
.aboutus-pic{
    width: 650px;
    border-radius: 25px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;
    
    
}
.aboutus-pic:hover{
    filter: grayscale(0%);
    filter: grey;
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 1s ease;
    transform: scale(1.2);
}
.head-aboutus{
    
    color: #ce1212;
    text-decoration: solid;
    font-size: 35PX;
    margin-top: 20PX;
    font-weight: bold;
    
    
}
.para-aboutus{
    color: #1b1717;
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    text-justify: auto;
    line-height: 40px;
   
}
.meh{
    width: 100%;
    height: 800px;
}
